<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Express</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</body>
</html>