<!DOCTYPE html>
<html ng-app="seckill">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>seckill</title>
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/seckill.css" rel="stylesheet">
  <script src="lib/socket.io/socket.io.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/seckill.js"></script>
</head>
<body ng-controller="seckillCtrl">
<div class="container">
  <div class="first text-warning">
    <div class="col-md-2">
      他们抢到票啦:
    </div>
    <div class="col-md-10">
      <marquee class="num" scrollAmount=2 width=100% height=20 direction=left>
        <span ng-repeat="result in resultList">
          <span ng-bind="result"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </span>
      </marquee>
    </div>

  </div>

  <div>
    <h1 class="second">活动抢票</h1>
  </div>

  <div>
    <img src="img/1.png" class="img-circle center-block img-responsive" height="150px" width="150px">
  </div>

  <div class="third">
    抢票的描述:啦啦啦
  </div>


  <div class="forth text-warning col-md-10 col-md-offset-1">
    <div class="col-md-4">状态：<span ng-bind="status">载入中...</span></div>
    <div class="col-md-4">开始时间：<span ng-bind="startTime">载入中...</span></div>
    <div class="col-md-4">余量：<span ng-bind="remain">载入中...</span></div>
  </div>

  <div class="fifth text-danger text-center col-md-12">倒计时：<span ng-bind="countdownTime">载入中...</span></div>

  <div class="sisth">
    <input type="text" ng-model="studentId" class="form-control" placeholder="请输入学号">
    <br>
    <button type="button" class="btn btn-danger btn-block" ng-click="goKill()" ng-disabled="status != '正在进行'">开抢
    </button>
  </div>

</div>

</body>
</html>